.container-fluid {
    background-color: #00282E;
    color: white;
    height: 100vh;
}

.navArea {
border-right: 2px solid #F4C20F;
}

.topNav {
    margin-top: 15%;
}

hr {
    border: 1px solid #F4C20F;
    margin-bottom: 3.125em;
}

.profileImage {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin-bottom: 0.1875em;
}

.profileName {
    color: #EF5C0A;
    font-family: italianno;
    font-size: 40px;
}

.lists {
    list-style-type: none;
    text-decoration: none;
}
.linkLists{
    margin-bottom: 0.625em;
}
a {
    font-family: inter;
    text-align: center;
}

a:link {
    color: #FFFFFF;
}
a:visited {
    color: #FFFFFF;;
  }
  
  a:hover {
    color: #F4C20F;
  }
  
  a:active {
    color: #F4C20F;
  }

  .button-div {
    margin-top: 6.25em;
  }

  .hire_me_button {
    border: 2px solid #FFBD13;
    background-color: #00282E;
    color: #EF5C0A;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    width: 40%;
    margin-bottom: 20%;
    border-radius: 5%;
  }

  .content_hire_me_button {
    border: 2px solid #FFBD13;
    background-color: #00282E;
    color: #EF5C0A;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    width: 20%;
    border-radius: 5%;
    margin-right: 25px;
    }

  .contact_me_button{
    border: 2px solid  #EF5C0A;
    background-color: #00282E;
    color: #FFBD13;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    width: 20%;
    border-radius: 5%;
    margin-left: 25px;
  }

  .content-page {
    margin-top: 30%;
  }

  .content-page p {
    width: 80%;
    font-family: inter;
    text-indent: opx;
    font-size: 20px;
    text-align: left;
    text-overflow: none;
    margin: 0 auto;
    word-wrap: break-word;
    padding-bottom: 20px;
  }

  .content-buttons {
    align-content: flex-end;
    margin-top: 15%;
  }