.container-fluid {
    background-color: #00282E;
    color: white;
    height: 100vh;
}

.navArea {
border-right: 2px solid #F4C20F;
}

hr {
    border: 1px solid #F4C20F;
}

.profileImage {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin-bottom: 3px;
}

.profileName {
    color: #EF5C0A;
    font-family: italianno;
    font-size: 40px;
}